/* @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;

@font-face {
  font-family: "HanYiShouJinShuFan";
  src: url(/fonts/HanYiShouJinShuFan/HanYiShouJinShuFan.ttf);
}

@tailwind utilities;

@layer base {
  html {
    /* font-family: 'Inconsolata','Karla', monospace; */
    font-family: "EB Garamond", serif;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-variant-numeric: tabular-nums;
  }

}

/** Practice Styling blog  */

* {
  box-sizing: border-box;
}
