@tailwind base;
@tailwind components;
@font-face {
  font-family: 'HanYiShouJinShuFan';
  src: url(/fonts/HanYiShouJinShuFan/HanYiShouJinShuFan.ttf)
}
@tailwind utilities;



@layer base {
  html {
    font-family: Georgia, system-ui, sans-serif;
  }
}